body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #212630;
    color: white;
    z-index: 1;
    width: 725px;
}

header {
    position: fixed;
    margin-top: -20px;
    width: 100vw;
    background-color: #363f52;
    box-sizing: border-box;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    color: white;
    backdrop-filter: blur(3px);
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#false-header {
    position: relative;
    margin-top: 20px;
    width: 100vw;
    z-index: 2;
}

h1 {
    font-size: 20px;
    padding: 0px;
}
h4 {
    margin: 0;
    padding: 0;
}
strong {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: medium;
    color: white;
}


.pill-container {
    display: inline-flex;
    padding: none;
    border-radius: 50px;
    gap: 2px; /* Space between buttons/links */
    margin: 5px;
}

.l-button, .r-button {
    background-color: #212630;
    color: white;
    text-decoration: none;
    border: none;
    padding: 8px 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    border: 3px #1fcd54 solid;
    transition: background-color 0.2s ease, border 0.2s ease;
}
.l-button {
    border-radius: 20px 3px 3px 20px;
}
.r-button {
    border-radius: 3px 20px 20px 3px;
}
.l-button:hover, .r-button:hover {
    background-color: #1fcd54;
    border: 3px #212630 solid;
}

#key {
    margin-top: 0px;
    margin-left: 10px;
}
#key ul {
    margin-top: 0px;
    list-style-type: disc; /* Adds bullet points */
    margin-left: -20px;
}
#key li {
    margin-top: 0;
    margin-bottom: 0;
}

#aeneid {
    margin: 10px;
    white-space: nowrap;
    line-height: 20px;
}



#latin1, #english1 {
    height: 260px;
}
#latin2, #english2 {
    height: 280px;
}
#latin3, #english3 {
    height: 300px;
}
#latin4, #english4 {
    height: 300px;
}
#latin5, #english5 {
    height: 300px;
}
#latin6, #english6 {
    height: 240px;
}
#latin7, #english7 {
    height: 260px;
}
#latin8, #english8 {
    height: 240px;
}
#latin9, #english9 {
    height: 280px;
}
#latin10, #english10 {
    height: 300px;
}


#content {
    margin-top: 25px;
}

#controls {
    margin: 20px;
}

.hidden {
    display: none;
}

.sound, .position, .choice, .context {
    position: relative;
    display: inline-block;
    padding-left: 0.5px;
    padding-right: 0.5px;
    border-radius: 4px;
    color: #333; /* Ensure this color contrasts with the background */
    z-index: 3; /* Base layer for the text */
}

.sound {
  background-color: #76cdeb;
}
.position {
  background-color: #90ee90;
}
.choice {
  background-color: #ffb6c1;
}
.context {
  background-color: #b8cadb;
}

.sound:hover {background-color: deepskyblue;}
.position:hover {background-color: mediumspringgreen;}
.choice:hover {background-color: hotpink;}
.context:hover {background-color: lightslategrey;}

.sound:hover::after, 
.position:hover::after, 
.choice:hover::after, 
.context:hover::after { 
    content: attr(title);
    white-space: nowrap;
    position: absolute;
    line-height: 18px;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    opacity: 1;
    transition: opacity 0.3s;
    z-index: 10; /* Ensures tooltip appears above everything */
    
    /* Positioning tooltip above the word */
    left: 0; /* Aligns the tooltip's start with the word's start */
    bottom: 120%; /* Places tooltip above the word */
    transform: none; /* Removes horizontal translation */

    /* Add transparency for backdrop blur to work */
    background-color: rgba(191, 226, 247, 0.85); /* Adjust for each element */
    backdrop-filter: blur(5px); /* Applies blur effect to background */
    -webkit-backdrop-filter: blur(5px); /* Ensures compatibility with WebKit browsers */
}

.sound:hover::after {
    background-color: rgba(133, 241, 255, 0.25); /* Light blue with transparency */
    color: white;
    border: 2px solid #00e2ff;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.5);
}

.position:hover::after {
    background-color: rgba(228, 255, 222, 0.25); /* Light green with transparency */
    color: white;
    border: 2px solid #00ff59;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.5);
}

.choice:hover::after {
    background-color: rgba(255, 133, 237, 0.25); /* Light pink with transparency */
    color: #fff;
    border: 2px solid #ff85ed;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.5);
}

.context:hover::after {
    background-color: rgba(215, 220, 229, 0.25); /* Light grey with transparency */
    color: white;
    border: 2px solid #9bb6c2;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.5);
}


.translation-number {
    font-size: 14px;
    color: #2f353f;
    background-color: hwb(212 91% 3% / 0.8);
    border: 1px solid #77869b;
    line-height: 20px;
    padding-left: 1px;
    padding-right: 1px;
    border-radius: 4px;
    margin-right: 1px;
    margin-left: 1.5px;
    position: relative;
    transform: translateY(-0.5em);
    display: none; /* Hidden by default */
    z-index: 3;
}
.guided-on .translation-number {
    display: inline;
}

#paragraphSelector {
    padding: 10px;
}
