body {
    font-family: Arial, sans-serif;
    width: 130vw;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}

header {
    position: fixed;
    margin-top: 0px;
    width: 100%;
    background-color: #4CAF50;
    box-sizing: border-box;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    color: white;
    z-index: 1000;
}
h1 {
    font-size: 20px;
}
h4 {
    margin: 0;
    padding: 0;
}
strong {
    font-size: 20px;
    font-weight: normal;
    color: gray;
}

button {
    background-color: white; /* Background color of the button */
    color: #45a049; /* Text color */
    border: none; /* Removes border */
    padding: 10px 10px; /* Adjusts padding for pill shape */
    text-align: center; /* Centers text */
    text-decoration: none; /* Removes underline from links if used */
    display: inline-block; /* Ensures proper button layout */
    font-size: 16px; /* Font size of the text */
    cursor: pointer; /* Changes cursor to pointer on hover */
    border-radius: 50px; /* Creates the pill shape */
    transition: transform 0.3s ease; /* Adds smooth hover effect */
  }
 button:hover {
    transform: scale(1.1); /* Darkens the button on hover */
  }

  a {
    background-color: white; /* Background color of the button */
    color: #45a049; /* Text color */
    border: none; /* Removes border */
    padding: 10px 10px; /* Adjusts padding for pill shape */
    text-align: center; /* Centers text */
    text-decoration: none; /* Removes underline from links if used */
    display: inline-block; /* Ensures proper button layout */
    font-size: 16px; /* Font size of the text */
    cursor: pointer; /* Changes cursor to pointer on hover */
    border-radius: 50px; /* Creates the pill shape */
    transition: transform 0.3s ease; /* Adds smooth hover effect */
}
a:hover {
    transform: scale(1.1); /* Increase size by 10% on hover */
}

#key {
    margin-top: 0px;
    margin-left: 10px;
}
#key ul {
    margin-top: 0px;
    list-style-type: disc; /* Adds bullet points */
    margin-left: -20px;
}
#key li {
    margin-top: 0;
    margin-bottom: 0;
}

#messalina {
    margin: 10px;
    white-space: nowrap;
}
#controls {
    margin: 20px;
}

.hidden {
    display: none;
}

.sound {
    position: relative;
    display: inline-block;
    background-color: lightblue;
    border-radius: 3px;
    padding-left: 1px;
    padding-right:1px;
}
.position {
    position: relative;
    display: inline-block;
    background-color: lightgreen;
    border-radius: 3px;
    padding-left: 1px;
    padding-right:1px;
}
.choice {
    position: relative;
    display: inline-block;
    background-color: lightpink;
    border-radius: 3px;
    padding-left: 1px;
    padding-right:1px;
}
.context {
    position: relative;
    display: inline-block;
    background-color: lightgrey;
    border-radius: 3px;
    padding-left: 1px;
    padding-right:1px;
}

.sound:hover {
    background-color: deepskyblue;
}
.position:hover {
    background-color: mediumspringgreen;
}
.choice:hover {
    background-color: hotpink;
}
.context:hover {
    background-color: darkgrey;
}

.sound:hover::after {
    content: attr(title);
    position: absolute;
    transform: translateX(0%);
    background-color: rgb(154, 204, 224);
    color: rgb(19, 64, 114);
    padding: 3px;
    border-radius: 5px;
    border: 2px solid rgb(19, 64, 114);
    outline-width: 3px;
    font-size: 12px;
    opacity: 1;
    left: 0%;
    bottom: 90%;
    transition: opacity 0.3s;
    margin-bottom: 5px;
  }
.position:hover::after {
    content: attr(title);
    position: absolute;
    transform: translateX(0%);
    background-color: #C5E7C2;
    color: #2A5636;
    padding: 3px;
    border-radius: 5px;
    border: 2px solid #2A5636;
    outline-width: 3px;
    font-size: 12px;
    opacity: 1;
    left: 0%;
    bottom: 90%; /* Position this tooltip slightly lower */
    transition: opacity 0.3s;
    margin-bottom: 5px;
  }
.choice:hover::after {
    content: attr(title);
    position: absolute;
    transform: translateX(0%);
    background-color: #FAE1E3;
    color: #832132;
    padding: 3px;
    border-radius: 5px;
    border: 2px solid #832132;
    outline-width: 3px;
    font-size: 12px;
    opacity: 1;
    left: 0%;
    bottom: 90%;
    transition: opacity 0.3s;
    margin-bottom: 5px;
  }
.context:hover::after {
    content: attr(title);
    position: absolute;
    transform: translateX(0%);
    background-color: #D6D6D6;
    color: #4A4A4A;
    padding: 3px;
    border-radius: 5px;
    border: 2px solid #4A4A4A;
    outline-width: 3px;
    font-size: 12px;
    opacity: 1;
    left: 0%;
    bottom: 90%; /* Position this tooltip slightly lower */
    transition: opacity 0.3s;
    margin-bottom: 5px;
  }


#paragraphSelector {
    padding: 10px;
}
