body {
    font-family: Arial, sans-serif;
    width: 725px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
    z-index: 1;
}

header {
    position: fixed;
    margin-top: 0px;
    width: 100%;
    background-color: #4CAF50;
    box-sizing: border-box;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    color: white;
    z-index: 1000;
}
h1 {
    font-size: 20px;
    padding: 0px;
}
h4 {
    margin: 0;
    padding: 0;
}
strong {
    font-size: 20px;
    font-weight: normal;
    color: gray;
}

.pill-container {
    display: inline-flex;
    background-color: #45a049;
    padding: none;
    border-radius: 50px;
    gap: 2px; /* Space between buttons/links */
    margin: 5px;
}
.l-button {
    background-color: white;
    color: #45a049;
    text-decoration: none;
    border: none;
    padding: 8px 8px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px 0px 0px 20px;
    transition: background-color 0.3s ease;
}
.r-button {
    background-color: white;
    color: #45a049;
    text-decoration: none;
    border: none;
    padding: 8px 8px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0px 20px 20px 0px;
    transition: background-color 0.3s ease;
}
.l-button:hover {
    background-color: lightgray; /* Darkens the button on hover */
}
.r-button:hover {
    background-color: lightgray; /* Darkens the button on hover */
}

#key {
    margin-top: 0px;
    margin-left: 10px;
}
#key ul {
    margin-top: 0px;
    list-style-type: disc; /* Adds bullet points */
    margin-left: -20px;
}
#key li {
    margin-top: 0;
    margin-bottom: 0;
}

#messalina {
    margin: 10px;
    white-space: nowrap;
    line-height: 20px;
}

#latin1 {
    margin-bottom: 4.15em;
}
#latin2 {
    margin-bottom: 1.15em;
}
#latin3 {
    margin-bottom: -1.3em;
}
#latin4 {
    margin-bottom: 6.85em;
}
#latin5 {
    margin-bottom: 6.3em;
}
#latin6 {
    margin-bottom: 6em;
}
#latin7 {
    margin-bottom: 5.6em;
}
#latin8 {
    margin-bottom: 4.4em;
}
#latin9 {
    margin-bottom: 4.6em;
}

p br {
    padding: 10px;
}

#controls {
    margin: 20px;
}

.hidden {
    display: none;
}

.sound, .position, .choice, .context {
    position: relative;
    display: inline-block;
    border-radius: 4px;
    padding: 1px;
    color: #333; /* Ensure this color contrasts with the background */
    z-index: 3; /* Base layer for the text */
}

.sound {background-color: lightblue;}
.position {background-color: lightgreen;}
.choice {background-color: lightpink;}
.context {background-color: lightgrey;}

.sound:hover {background-color: deepskyblue;}
.position:hover {background-color: mediumspringgreen;}
.choice:hover {background-color: hotpink;}
.context:hover {background-color: darkgrey;}

.sound:hover::after, 
.position:hover::after, 
.choice:hover::after, 
.context:hover::after { 
    content: attr(title);
    position: absolute;
    line-height: 18px;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 1;
    transition: opacity 0.3s;
    z-index: 10; /* Ensures tooltip appears above everything */
    
    /* Positioning tooltip above the word */
    left: 0; /* Aligns the tooltip's start with the word's start */
    bottom: 120%; /* Places tooltip above the word */
    transform: none; /* Removes horizontal translation */
}

.sound:hover::after {
    background-color: #BFE2F7;
    color: #093049;
    border: 1px solid #093049;
}

.position:hover::after {
    background-color: #e4ffde;
    color: #215B26;
    border: 1px solid #215B26;
}

.choice:hover::after {
    background-color: #ffdef3;
    color: #4c1538;
    border: 1px solid #4c1538;
}

.context:hover::after {
    background-color: #d7dce5;
    color: #28303E;
    border: 1px solid #28303E;
}


.translation-number {
    font-size: 14px;
    color: grey;
    background-color: hsla(0, 0%, 100%, 0.637);
    border: 1px solid slategrey;
    line-height: 20px;
    padding-left: 1px;
    padding-right: 1px;
    border-radius: 4px;
    margin-right: 1px;
    margin-left: 1.5px;
    position: relative;
    transform: translateY(-0.5em);
    display: none; /* Hidden by default */
    z-index: 3;
}
.guided-on .translation-number {
    display: inline;
}

#paragraphSelector {
    padding: 10px;
}
