body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}

header {
    position: fixed;
    margin-top: 0px;
    width: 100%;
    background-color: #4CAF50;
    box-sizing: border-box;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    color: white;
    z-index: 1000;
}
h1 {
    font-size: 20px;
}
h4 {
    margin: 0;
    padding: 0;
}
strong {
    font-size: 20px;
    font-weight: normal;
    color: gray;
}

button {
    background-color: white; /* Background color of the button */
    color: #45a049; /* Text color */
    border: none; /* Removes border */
    padding: 10px 10px; /* Adjusts padding for pill shape */
    text-align: center; /* Centers text */
    text-decoration: none; /* Removes underline from links if used */
    display: inline-block; /* Ensures proper button layout */
    font-size: 16px; /* Font size of the text */
    cursor: pointer; /* Changes cursor to pointer on hover */
    border-radius: 50px; /* Creates the pill shape */
    transition: transform 0.3s ease; /* Adds smooth hover effect */
  }
  
  /* Hover effect */
 button:hover {
    transform: scale(1.1); /* Darkens the button on hover */
  }

a {
    background-color: white; /* Background color of the button */
    color: #45a049; /* Text color */
    border: none; /* Removes border */
    padding: 10px 10px; /* Adjusts padding for pill shape */
    text-align: center; /* Centers text */
    text-decoration: none; /* Removes underline from links if used */
    display: inline-block; /* Ensures proper button layout */
    font-size: 16px; /* Font size of the text */
    cursor: pointer; /* Changes cursor to pointer on hover */
    border-radius: 50px; /* Creates the pill shape */
    transition: transform 0.3s ease; /* Adds smooth hover effect */
}
a:hover {
    transform: scale(1.1); /* Increase size by 10% on hover */
}

#key {
    margin-top: 0px;
    margin-left: 10px;
}
#key ul {
    margin-top: 0px;
    list-style-type: disc; /* Adds bullet points */
    margin-left: -20px;
}
#key li {
    margin-top: 0;
    margin-bottom: 0;
}

#pliny {
    margin: 10px;
}
#controls {
    margin: 20px;
}

.hidden {
    display: none;
}
.noun {
    color: blue;
}
.verb {
    color: green;
}
.adj {
    color: orange;
}
.adv {
    color: orangered;
}
.pro {
    color: red;
}
.pre {
    color: magenta;
}
.con {
    color: purple;
}


#paragraphSelector {
    padding: 10px;
}
